alias c="composer"
alias reload="source ~/.zshrc"
alias gaa="git add ."
alias srun="symfony serve"
alias gco="git checkout"
alias b="vendor/bin/behat"
alias spec="vendor/bin/phpspec run --format=pretty"
alias unit="vendor/bin/phpunit"
alias hk="~/.hubkit/bin/hubkit.php"
alias xd="php /usr/local/etc/scripts/xdebug-enabler.php"
alias domidi="bin/console doctrine:migrations:difference"
alias gst="git status"
alias gcm="git commit"
alias gcma="git commit --amend"
alias gcb="git checkout -b"
alias pullum="git pull upstream master"
alias dbc="bin/console do:da:dr --force; bin/console do:da:cr; bin/console do:mi:mi -n; bin/console sy:fi:lo -n"
alias cc="bin/console cache:pool:clear cache.global_clearer"
